// Fonts
$font: "SFProDisplay-Regular", sans-serif;

$h1-fz-mobile: 20px;
$h1-fz-tablet: 32px;
$h1-fz-desktop: 48px;
$h1-fw: 400;

// colors
$color-dark:#101010;
$color-dark-light:#212121;
$color-gray:#5B5B5B;
$color-light:#ffffff;


// indents
$gap:30px;
$gap-half:calc($gap / 2);

// breakpoints
$desktop:1280px;
$tablet-max: 1277px;
$mobile-max: 767px;

